/* base rule */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px  */
  /* scroll-behavior: smooth; */
  /* scroll-snap-type: Y proximity; */
}

.container {
  margin: 0 4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

p,
li,
a,
label,
button {
  font-family: "Urbanist", sans-serif;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  color: var(--para-color);
  line-height: 1.5;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* base rule end here */

/* theme */
:root {
  --main-color: #0062ff;
  --supporting-color: #dfe6ed;
  --font-color: #424242;
  /* --bg-color: #ffffff; */
  --bg-color: #f7f7f7;
  --heading-color: #000a19;
  --hero-heading-color: #5b8fe3;
  --white-color: #ffffff;
  --para-color: #504e4d;
  --bnt-hover-bg-color: #003b99;
  --btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --footer-bg-color: #040d12;
  --buttonColor: #2a2c30;
  --gradient-color1: #3e86fa;
  --gradient-color2: #e7f1fe;
}

/* layout */
.flex {
  display: flex;
}
.align {
  align-items: center;
  justify-content: center;
}
.grid {
  display: grid;
  place-items: center;
}
.grid-two--cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid-three--cols {
  grid-template-columns: repeat(3, 1fr);
}
/* module / reusable  */
.btn {
  background-color: var(--buttonColor);
  color: var(--supporting-color);
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.7rem;
  transition: all 0.2s linear;
}
/* states  */

.btn:hover {
  background-color: var(--bnt-hover-bg-color);
  cursor: pointer;
  box-shadow: var(--btn-box-shadow);
}

/* heading section start here */
.header-txt {
  background-color: var(--buttonColor);
  padding: 2rem;
  justify-content: space-between;
  & .head-para {
    color: white;
  }
  & .signIn-signUp {
    text-transform: uppercase;
    gap: 3.4rem;
    & a {
      color: var(--hero-heading-color);
      font-weight: 700;
    }
  }
}
.header-content {
  justify-content: space-between;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  & .heading-links {
    gap: 3rem;
    & .carts .fa-solid {
      filter: invert(0);
      font-size: 2rem;
    }
    & a {
      font-weight: 600;
      text-transform: uppercase;
      position: relative;
      transition: all 0.2s linear;

      &::after {
        content: "";
        position: absolute;
        bottom: -0.3rem;
        left: 0;
        width: 0;
        border: 0.1rem solid var(--bnt-hover-bg-color);
        opacity: 0;
        transition: all 0.2s linear;
      }
      &:hover::after {
        opacity: 1;
        width: 100%;
        color: var(--hero-heading-color);
      }
      &:hover {
        color: var(--bnt-hover-bg-color);
      }
    }
    & .carts:hover {
      background-color: var(--buttonColor);
      color: white;
    }
  }
}
/* heading section end here */

/* Hero section start here */
.hero-section {
  place-items: center;
  padding: 8rem 2rem 11rem;
  gap: 5rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background: linear-gradient(
    45deg,
    var(--gradient-color1),
    var(--gradient-color2)
  );

  & .hero-content {
    & .heading {
      font-size: 1.5rem;
    }
    & .sub-heading {
      font-size: 5rem;
      color: var(--heading-color);
    }
    & .subPara {
      color: white;
      margin: 2rem 0 4.2rem;
    }
  }
}
.hero-section .hero-image img {
  width: 100%;
}

/* shape divider */
.shape-divider {
  position: relative;
  margin-bottom: 5rem;
}
.custom-shape-divider-bottom-1712780619 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1712780619 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 109px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1712780619 .shape-fill {
  fill: #ffffff;
}

/* hero section End here */

/* cart section start here */
.cart-section {
  padding: 5rem 0;
  & .grid-three--cols{
    gap: 3rem;
  }
}
.cart-section .grid .cards {
  gap: 1rem;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 3rem 2.5rem;
  width: 100%;
  height: 100%;

  & .card-content {
    & .card-para {
      font-size: 1.5rem;
    }
    & .card-heading {
      font-size: 2.4rem;
      text-transform: capitalize;
      margin: 0.6rem 0 1.6rem;
      font-weight: 500;
    }
    & .cart-link {
      color: var(--bnt-hover-bg-color);
      border-bottom: 1px solid var(--bnt-hover-bg-color);
    }
  }
  & img {
    width: 100%;
    position: relative;
    transform: skew(-10deg);
  }
}
& .cards::before {
  content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 15rem;
    height: 15rem;
    border-radius: 100% 0% 0% 100% / 100% 0%;
    background-color: var(--supporting-color);
    /* z-index: 1; */
}


/* cart section End here */
